*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}


header{
    background-color:rgb(43, 42, 42);
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    animation-name: mianimacion;
    animation-duration: 5s;

}
@keyframes mianimacion {
    0%{background:rgb(43, 42, 42); ;}
        50%{background: gray;}
        70%{background: white;}
        100%{background: black;}
    
    
}

 h1{
    width: 100%;
    margin: 0 auto;
    color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 90px;
    font-weight: bold;
    background-image: url(fondo.jpg);
    background-size: cover;
    background-position: center ;
    -webkit-background-clip: text ;
    font-style: normal;

      
    
}

     h2{
         color: black;
         font-size: 30px;
         padding: 20px;
         animation:skew 3s infinite;
         transform: skew(140deg);
         animation-direction:alternate;
     }
     @keyframes skew {
         0%{transform:skew(20deg, 20deg);
        }
        100%{transform:skew (20deg, 20deg); } 
     }
     h3{
         color: black;
         font-size: 30px;
         text-align: center;
         
     }


img.foto{
    width: 230px;
    border-radius: 50px;
}

img.section {
    width: 230px;
    border-radius: 50px;
   margin: 0 auto;
}
nav{
    display: flex;
    flex-direction: row;
    background-color: rgb(136, 209, 136);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px; 

}
    

nav a {
    color:darkslategray;
    padding: 14px 20px;
    text-decoration: none;
    font-style: normal;
    font-size: 20px;}

    .fila {
        display: flex;
        flex-wrap: wrap;
        text-align: justify;
    }
     aside {flex: 400px ;
    background-color: #a9e9a4;
    padding: 20px;
    font-size: 25px;
    margin: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    }

    article {
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 10px;
    border:2px black solid;
    padding: 10px;
}


    section { 
        flex: 200px;
        background-color:rgb(250, 189, 250) ;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
        border-radius: 10px;
        box-sizing: border-box;
        
      

    }
    h4 {
        font-size: 25px;
     text-align: center;
     margin: 10px;
    }
       section p{
           font-size: 20px;
      
       } 
 
    p.lumi {
        margin-top: 10px;
    }

footer  {
    background-color:#a9e9a4 ;
 
  padding: 30px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 10px;
  text-align: right;


  }
 

  footer ul i {
      font-size: 40px;
      padding: 10px;
      color: rgb(43, 42, 42);
   
  }

  .contenedor__index {  display: grid;
    grid-template-columns: 53.5fr;
    grid-template-rows:0.5fr 0.1fr 2.9fr 0.fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header"
      "nav"
      "fila"
      "footer";
  }
  
  .header { grid-area: header; }
  
  .nav { grid-area: nav; }
  
  .fila { grid-area: fila; }
  
  .footer { grid-area: footer; }
  
  /*img*/
   

h1.img {
    text-align: center;
    padding: 30px;
    font-size: 40px;
}

.imagenesGaleria {
display: grid;
height: 550px;
grid-template-columns: 1fr 1fr 1fr;
 background-color: #a9e9a4;
margin-left: 20px;
margin-right: 20px;
margin-top: 20px;
margin-bottom: 20px;
border-radius: 10px;

}

.imagenesGaleria div {
    width: auto;
    background-size:cover;
    background-position: center;
    text-align: center;
    border: 2px solid black;
    margin: 10px;}

h3{
    background-color: antiquewhite;
    border-bottom: 2px solid black;}

 
    div.diva{
        background-image: url(lazo.jpg);

    }

    div.divb {
       background-image: url(collar.jpg); 
    }

    div.divc{
        background-image: url(potus.jpg);
    }
    div.divd{
        background-image: url(costilla.jpg);
    }
    div.dive {
        background-image: url(aloe.jpg);
    }

    div.divf {
        background-image: url(jade.jpg);
        background-position: top;
    }
    
  .contenedor__galeria {  display: grid;
    grid-template-columns: 53.5fr;
    grid-template-rows:0.5fr 0.1fr 2.9fr 0.fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header"
      "nav"
      "imagenesGaleria"
      "footer";
  }
  
  .header { grid-area: header; }
  
  .nav { grid-area: nav; }
  
  .imagenesGaleria { grid-area: imagenesGaleria; }
  
  .footer { grid-area: footer; }
  


    /* contacto */
    .body__contacto{
        background-color: rgb(43, 42, 42);
       
    }
    .contacto{
        
        background-color: #abe69f;
        font-family: cursive;
        width: 400px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        margin-top: 10px;
        border:3px outset #019267;
        border-radius: 5px ;
    }
    

    .contacto input{
        display: block;
    }
    
    .nombre{
        width: 200px;
        height: 30px;
        margin: 10px 105px;
        border:3px outset #019267;
        border-radius: 5px ;
    }
    
    .email{
        width: 200px;
        height: 30px;
        margin: 10px 105px;
        border:3px outset #019267;
        border-radius: 5px ;
    }
    
    .contraseña{
        width: 200px;
        height: 30px;
        margin: 10px 105px;
        border:3px outset #019267;
        border-radius: 5px ;
    }
     .mensaje{
        width: 300px;
        margin:6px 0 5px 50px ;
        border:3px outset #019267;
        border-radius: 5px ;
     }
    
       
     .genero{
         margin-left: 100px;
     }
    
     .femenino{
        position: absolute;
        margin-left: 100px;
    }
    .masculino{
        position: absolute;
        margin-left: 100px;
    }
    
    .acepto{
        position: absolute;
        margin-left:200px ;
        margin-top: 5px
        
    }
    
    .pais{
    
        margin:20px 0 10px 50px ;
    }
    
    .enviar{
        font-size: 25px;
        font-family: cursive;
        margin: 50px 0 20px 160px;
        border:3px outset #019267;
        border-radius: 5px ;
        padding: 5px;
    }

    .contenedor__contacto {  display: grid;
        grid-template-columns: 53.5fr;
        grid-template-rows:0.5fr 0.1fr 2.9fr 0.fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "header"
          "nav"
          "contacto"
          "footer";
      }
      
      .header { grid-area: header; }
      
      .nav { grid-area: nav; }
      
      .contacto { grid-area: contacto; }
      
      .footer { grid-area: footer; }
      
    
    



    /* nosotros */
.nav-a{
    margin-bottom: 10px;
}

    .nosotros{
        display: flex;
        flex-direction: column;
       margin-left: 20px;
       margin-right: 20px;
       
    }
  
    div.nosotros article {
        
        margin: 0 auto;
        border: 2px solid black;
        width: 90%;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 20px;

        
        

    }

    div.nosotros article img {
        width: 85%
        


        }

.titulo-nosotros {
text-align: center;
}
.parrafo-nosotros {
    text-align: justify ;
    font-size: 25px;
    padding: auto;

}

    .contenedor__nosotros {  display: grid;
        grid-template-columns: 53.5fr;
        grid-template-rows: 0.5fr 0.1fr 3fr 0.fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "header"
          "nav"
          "nosotros"
          "footer";
      }
      
      .header { grid-area: header; }
      
      .nav { grid-area: nav; }
      
      .footer { grid-area: footer; }
      
      .nosotros { grid-area: nosotros; }

      

/*media quieri*/
    
    @media screen and (max-width:645px){

        nav{
            flex-direction: column;

        }
        
      .imagenesGaleria{
       grid-template-columns: auto;
       height: 1800px;
      }
    h1{
       font-size: 50px;
    }

    .contacto{
        width: 450px;
        height: 650px;
       
    }
    .nombre{
        width: 250px;
        height: 40px;
   

    }
    
    .email{
        width: 250px;
        height: 40px;
    
    }
    
    .contraseña{
        width: 250px;
        height: 40px;
 
    }
     .mensaje{
        width: 350px;

     }
     .enviar{
       
        margin: 50px 0 20px 170px;
        
    }

    .nosotros img{
        padding: 20px 20px;
    }
    
    @media screen and (max-width:449px){
        aside {
            width:400px ;
        

        }
      section {
          width: 300px;

}
section img {
    width:100px;
}
        
    }

    @media screen and (max-width:430px) {
          h1 {
              font-size: 40px;
              text-align:start ;
          }
         .contacto{
        
             width: 350px;
             height: 600px;
            
         }
         .nombre{
             width: 250px;
             height: 40px;
             margin: 1px;
         }
         
         .email{
             
             width: 250px;
             height: 40px;
             margin: 1px;
         }
         
         .contraseña{
             width: 250px;
             height: 40px;
             margin: 1px;
      
         }
          .mensaje{
             width: 305px;
             margin: 1px;
     
          }
          .enviar{
            
             margin: 50px 0 20px 110px;
             
         }
     
         .nosotros img{
             padding: 20px 20px;
         }
         .fila{
             width: 85%;
         }
          }

         @media screen and (max-width:435px){
             
            .footer{ 
                  width: 63%;
              }

            }