aside {flex:50% ;
    background: $fondo;
    padding: 20px;
margin-top: 50px;
margin-left: 2px;
margin-right: 8px;
margin-bottom: 10px;
font-size: 25px;
border-radius: 10px;
box-sizing: border-box;
}