body{
    margin: 0;
    padding: 0;
    font-style: oblique;
    font-family:'Times New Roman', Times, serif;
    background: rgb(9,121,63);
background: linear-gradient(320deg, rgba(9,121,63,1) 0%, rgba(9,162,118,1) 7%, rgba(184,227,181,1) 19%, rgba(143,190,146,1) 90%);
}