footer  {
    background:$fondo;
     margin-top: 10px; 
  padding: 30px;
  border-radius: 10px;
  text-align: right;

 i {
      font-size: 40px;
      padding: 10px;
      color: rgb(43, 42, 42);
     &:hover{
         color: antiquewhite;
     }
    }
}