footer  {
    background: rgb(9,121,63);
    background: linear-gradient(320deg, rgba(9,121,63,1) 0%, rgba(9,162,118,1) 7%, rgba(184,227,181,1) 19%, rgba(143,190,146,1) 90%);
  margin-top: 10px; 
  padding: 30px;
  border-radius: 10px;
  text-align: right;

 i {
      font-size: 40px;
      padding: 10px;
      color: rgb(43, 42, 42);
     &:hover{
         color: antiquewhite;
     }
    }
}