header{
    background: rgb(73,130,69);
    background: linear-gradient(320deg, rgba(73,130,69,1) 8%, rgba(0,0,0,1) 18%, rgba(57,57,57,1) 94%);
    display: flex;
    align-items: center;
    border-radius: 5px;
    animation-name: mianimacion;
    animation-duration: 5s;


@keyframes mianimacion {
    0%{background:rgb(43, 42, 42); ;}
        50%{background: gray;}
        70%{background: white;}
        100%{background: black;}    
}

 h1{
    width: 100%;
    margin:auto;
    color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 90px;
    font-weight: bold;
    background-image: url(fondo.jpg);
    background-size: cover;
    background-position: center ;
    -webkit-background-clip: text ;
    font-style: normal;      
    
}
}