header{
        display: flex;
    align-items: center;
    border-radius: 5px;


    h1{
        width: 100%;
        margin: auto;
        background-color: rgb(2, 2, 2);
        font-size: 30px;
        &:hover{
            color: aqua;
        }
    }
    
}

