nav{
    display: flex;
    flex-direction: row;
    background: rgb(9,121,63);
background: linear-gradient(320deg, rgba(9,121,63,1) 0%, rgba(9,162,118,1) 7%, rgba(184,227,181,1) 19%, rgba(143,190,146,1) 90%);
   margin: 0;
    border-radius: 5px; 

 a {
    color:darkslategray;
    padding: 14px 20px;
    text-decoration: none;
    font-style: normal;
    font-size: 20px;
   &:hover{
       color:antiquewhite;}
 }
}