section { 
    flex: 50%;
    background: $fondo;
        padding: 20px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    
 img{
    width: 400px;
    height: 400px;}

h4 {
    
    font-size: 25px;
 text-align: center;
 margin: 10px;}
 p{
     
       font-size: 20px;

.lumi {

    margin-top: 10px;}
 }

}



