 @import"variable";
 @import"header";
 @import"nav";
 @import"article";
 @import"footer";
 @import"body";
 @import"section";
 @import"form";
 @import"imagenes";
 @import"aside";
 @import"mediaqueris";
