body{
    margin: 0;
    padding: 0;
    font-style: oblique;
    font-family:'Times New Roman', Times, serif;
    background: rgb(9,121,63);
background: linear-gradient(320deg, rgba(9,121,63,1) 0%, rgba(9,162,118,1) 7%, rgba(184,227,181,1) 19%, rgba(143,190,146,1) 90%);
}


header{
    background: rgb(73,130,69);
    background: linear-gradient(320deg, rgba(73,130,69,1) 8%, rgba(0,0,0,1) 18%, rgba(57,57,57,1) 94%);
    display: flex;
    align-items: center;
    border-radius: 5px;
    animation-name: mianimacion;
    animation-duration: 5s;

}
@keyframes mianimacion {
    0%{background:rgb(43, 42, 42); ;}
        50%{background: gray;}
        70%{background: white;}
        100%{background: black;}    
}

 h1{
    width: 100%;
    margin: 0 auto;
    color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 90px;
    font-weight: bold;
    background-image: url(fondo.jpg);
    background-size: cover;
    background-position: center ;
    -webkit-background-clip: text ;
    font-style: normal;      
    
}
nav{
    display: flex;
    flex-direction: row;
    background: rgb(9,121,63);
background: linear-gradient(320deg, rgba(9,121,63,1) 0%, rgba(9,162,118,1) 7%, rgba(184,227,181,1) 19%, rgba(143,190,146,1) 90%);
   margin: 0;
    border-radius: 5px; 

}

    

nav a {
    color:darkslategray;
    padding: 14px 20px;
    text-decoration: none;
    font-style: normal;
    font-size: 20px;}


     h2{
         color: black;
         font-size: 30px;
         padding: 20px;
         animation:skew 2s;
         transform: skew(180deg);
         animation-direction:alternate;
     }
     @keyframes skew {
         0%{transform:skew(20deg, 20deg);
        }
        100%{transform:skew (20deg, 20deg); } 
     }
     h3{
         color: black;
         font-size: 30px;
         text-align: center;
         
     }


img.foto{
    width: 230px;
    border-radius: 50px;
}

img.section {
    width: 230px;
    border-radius: 50px;
   margin: 0 auto;
}

    .fila {
        display: flex;
        flex-wrap: wrap;
        text-align: justify;
    }
     aside {flex:50% ;
        background: rgb(9,121,63);
        background: linear-gradient(320deg, rgba(9,121,63,1) 0%, rgba(9,162,118,1) 7%, rgba(184,227,181,1) 19%, rgba(143,190,146,1) 90%);
    padding: 20px;
    margin-top: 50px;
    margin-left: 2px;
    margin-right: 8px;
    margin-bottom: 10px;
    font-size: 25px;
    border-radius: 10px;
    box-sizing: border-box;
    }

    article {
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 10px;
    border:2px black solid;
    padding: 10px;
}


    section { 
        flex: 50%;
        background: rgb(9,121,63);
background: linear-gradient(320deg, rgba(9,121,63,1) 0%, rgba(9,162,118,1) 7%, rgba(184,227,181,1) 19%, rgba(143,190,146,1) 90%);
        padding: 20px;
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        box-sizing: border-box;
        }
    section img{
        width: 400px;
        height: 400px;;
    }

    h4 {
        font-size: 25px;
     text-align: center;
     margin: 10px;
    }
       section p{
           font-size: 20px;
       } 
 
    p.lumi {
        margin-top: 10px;
    }



footer  {
    background: rgb(9,121,63);
    background: linear-gradient(320deg, rgba(9,121,63,1) 0%, rgba(9,162,118,1) 7%, rgba(184,227,181,1) 19%, rgba(143,190,146,1) 90%);
  margin-top: 10px; 
  padding: 30px;
  border-radius: 10px;
  text-align: right;

  }
 

  footer ul i {
      font-size: 40px;
      padding: 10px;
      color: rgb(43, 42, 42);
   
  }

  /*galeria*/
   
h1.img {
    text-align: center;
    padding: 30px;
    font-size: 40px;
}

.imagenesGaleria {
display: grid;
height: 550px;
grid-template-columns: 1fr 1fr 1fr;
 background-color: #a9e9a4;
margin-left: 5px;
margin-right: 5px;
margin-top: 20px;
margin-bottom: 20px;
border-radius: 10px;

}

.imagenesGaleria div {
    width: auto;
    background-size:cover;
    background-position: center;
    text-align: center;
    border: 2px solid black;
    margin: 10px;}

h3{
    background-color: antiquewhite;
    border-bottom: 2px solid black;}

 
    div.diva{
        background-image: url(lazo.jpg);

    }

    div.divb {
       background-image: url(collar.jpg); 
    }

    div.divc{
        background-image: url(potus.jpg);
    }
    div.divd{
        background-image: url(costilla.jpg);
    }
    div.dive {
        background-image: url(aloe.jpg);
    }

    div.divf {
        background-image: url(jade.jpg);
        background-position: top;
    }
    
       /* nosotros */

    .nosotros{
        display: flex;
        flex-direction: column;
       margin-left: 20px;
       margin-right: 20px;
       
    }
  
    div.nosotros article {
        
        margin: 0 auto;
        border: 2px solid black;
        width: 90%;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 20px;
    }

    div.nosotros article img {
        width: 85%
          }

.titulo-nosotros {
text-align: center;
}
.parrafo-nosotros {
    text-align: justify ;
    font-size: 25px;
    padding: auto;

}
form input{
    background: rgb(97,152,93);
background: linear-gradient(320deg, rgba(97,152,93,1) 4%, rgba(207,227,217,1) 18%);
}
  
   /*media quieri*/
    
    @media screen and (max-width:645px){

        nav{
            flex-direction: column;

        }
        .parrafo-nosotros{
            font-size: 20px;
        }
      .imagenesGaleria{
       grid-template-columns: auto;
       height: 1800px;
      }
    h1{
       font-size: 50px;
    }

    .nosotros img{
        padding: 10px;
    }
    
    @media screen and (max-width:449px){
        aside {
            width:400px ;
        }
      section {
          width: 300px;

}
section img {
    width:100px;
}
        
    }